Nexus_MVC/Helpers/XmlSchema/pricing-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cennik">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="produkt" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:integer" name="id" use="required"/>
                <xs:attribute type="xs:decimal" name="cena_netto" use="required"/>
                <xs:attribute type="xs:decimal" name="vat" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>